.answerForm {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 100;
  margin-top: 150px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 50px 11px rgba(34, 60, 80, 0.2);
  background-color: white;
  width: 100vh;
  left: 23%;
  height: 70vh;
  top: -2%
}

.answerFormText {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}
